

body {
    font-family: 'Cairo', Arial, Helvetica, sans-serif;
}

.dropdown-toggle::after {
    display: none;
}

.topNav nav {
    background-color: #1c336e;
    margin-right: 17rem;
    transition: background 0.3s ease-in-out;
}

.topNav .navbar-nav .nav-item .nav-link {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 60px;
    transition: background .3s ease-in-out;
}

.navbar-collapse .navbar-nav .dropdown-menu {
    border-radius: 0;
    border: none;
    border-top: 4px solid #fdab01;
    border-bottom: 4px solid #fdab01;
    top: 75px;
}

.navbar-collapse .navbar-nav .dropdown-menu .dropdown-item {
    transition: background 0.3s ease ,color .1s ease;
}

.navbar-collapse .navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: #fdab01;
    color: #fff;
}

.topNav .navbar-nav .nav-item .nav-link:hover {
    background-color: #ffc01b;
}
.topNav .navbar-nav .nav-item .nav-link:focus {
    background-color: #ffc01b;
}

/* .topNav .collapse img {
    filter: brightness(0) invert();
} */

.navbar-light .navbar-toggler-icon {
    filter: brightness(0) invert(1);
}

.blur {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 1999;
    background-color: rgba(240,240,240,0.8);
    -webkit-backdrop-filter: saturate(180%) blur(15px);
    backdrop-filter: saturate(180%) blur(15px);
    display: none;
}

aside.sideNavLeft {
    height: 100%;
    top: 0;
    right: 0;
    z-index: 2000;
    /* transition: right 1s ease; */
}

aside.sideNavLeft .list-group {
    cursor: pointer;
}

aside.sideNavLeft .list-group .list-group-item {
    border: 0;
    padding: 0.2rem;
    font-size: 16px;
    padding-right: 4rem;
    background: #e9ecef;
    border-radius: 0;
}

aside.sideNavLeft .list-group .list-group-item:hover {
    color: #fdab01;
}

aside.sideNavRight {
    height: auto;
    top: 220px;
    left: 0;
    z-index: 2000;
}

aside.sideNavRight .nav-item{
    direction: ltr;
}

aside.navMob {
    display: none;
}

aside #tabs li.active {
    border-left: 6px solid #ffc01b;
}

aside #tabs li.active span,
aside #tabs li.active i {
    color: #fdab01;
}

aside li.active-head {
    background-color: #1c336e;
}

aside li.active-head span{
    color: #fff;
}

aside .copyright {
    position: absolute;
    right: 0;
    bottom: 4px;
    font-size: 12px;
}

aside .copyright a {
    color: #fdab01;
}

.main-content {
    margin-top: 6rem;
}

.main-content .contents .serviceLogo {
    width: 160px;
    height: 160px;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.main-content .contents .table-query thead tr:first-of-type {
    background-color: rgba(0,0,0,.05);
}

.main-content .contents .table-query tr:last-of-type {
    background-color: transparent
}

.breadcrumb-item+.breadcrumb-item::before {
    padding-left: .5rem;
}


/* home2 */

.managment-btn i {
    font-size: 30px;
}
.managment-btn span {
    font-size: 25px;
    font-weight: 700;
}

/* home2 */


/* some utility */


.main-content .col-sm-12.col-md-12.col-lg-10 {
    padding: 0 10rem;
}

.accordian-ico {
    font-size: 12px;
}

.contents:last-of-type {
    padding-bottom: 15rem !important;
}

.btn-primary {
    color: #fff;
    background-color: #2e4e9e;
    border-color: #2e4e9e;
}

.btn-primary:hover {
    background-color: #1c336e;
    border-color: #1c336e;
}

.pl-5, .px-5 {
    padding-left: 3rem !important;
}

.ml-auto, .mx-auto {
    margin-left: auto !important;
}

.pl-4, .px-4 {
    padding-left: 1.5rem !important;
}

.pr-4, .px-4 {
    /* padding-right: 1.5rem !important; */
}

/* some utility */

.border-spacy {
    border-bottom: 1.7px solid #b3b3b3;
    padding: 5rem 0;

}

.mob-toggle .btn-dark {
    background-color: #2e4e9e;
}

#service-btn {
    display: none;
    margin-bottom: 2rem;
}

#colse-service-btn {
    left: 0;
    top: 15px;
}

#featured-btn {
    display: none;
    left: 0;
    position: fixed;
    border-radius: 0;
    top: 250px;
    z-index: 2000;
    color: #000;
    background-color: #ffc01b;
    border-color: #fdab01;
}

#colse-featured-btn {
    right: 0;
    top: 11px;
}

.avatar-fix-mob {
    /* right: 100%; */
}

@media (min-width: 1171px) {
    #colse-service-btn {
        display: none;
    }
    #colse-featured-btn {
        display: none;
    }
}

@media (max-width: 1170px) {
    .topNav nav {
        background-color: hsla(223, 59%, 27%, .8) !important;
        backdrop-filter: saturate(180%) blur(15px) !important;
    }
    .navbar-toggler {
        margin: 0.5rem 0;
    }
    .main-content .container {
        margin: auto !important;
    }
    .fix-mob {
        overflow: auto;
    }
    .btn {
        width: 100%;
        margin-bottom: 1rem;
    }
    aside.sideNavLeft { 
        right: -500px;
    }
    aside.sideNavRight { 
        left: -500px;
    }
    .topNav nav {
        margin-right: 0;
    }
    .main-content .col-sm-12.col-md-12.col-lg-2 {
        display: none;
    }
    #service-btn {
        display: inline-block;
    }
    #colse-service-btn,
    #colse-featured-btn {
        width: 15%;
    }
    #featured-btn {
        display: inline-block;
        width: 10%;
    }
    .alert.alert-warning.display-4.text-center {
        font-size: 2rem;
    }
    .navbar-collapse {
        text-align: left;
    }
    .navbar-collapse .navbar-nav .nav-item.dropdown,
    .profile-mob {
        direction: ltr;
    }
    .avatar-fix-ico {
        /* padding-bottom: 1rem; */
    }
    .avatar-fix-ico i {
        float: right;
        line-height: 61px;
    }
    .navbar-collapse .navbar-nav .dropdown-menu {
        text-align: left;
    }

    .search input {
        margin-right: 0 !important;
        margin-bottom: 1rem;
        width: 100% !important;
    }
}

@media (max-width: 767px) {
    .main-content .col-sm-12.col-md-12.col-lg-10 {
        padding: 0;
    }
}

@media (min-width: 1200px) and (max-width: 1240px) {
    .main-content .col-sm-12.col-md-12.col-lg-10 {
        padding: 0 12rem;
    }
}

@media (min-width: 1600px) {
    .main-content .col-sm-12.col-md-12.col-lg-10 {
        padding: 0;
    }
}