
body {
    background-color: gray;
    background: url('../img/login_back.jpg') top center no-repeat;
}

.row-h {
    height: 100vh;
}

.login .logoControls {
    background-color: #fff;
    height: 100%;
}

.login .formControls {
    background: #2e4e9e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1c336e, #2e4e9e);
    background: linear-gradient(to right, #1c336e, #2e4e9e);
}

.login .btn.btn-primary {
    color: #000;
    background-color: #ffc01b;
    border-color: #fdab01;
}

.login .btn.btn-primary:hover {
    color: #000;
    background-color: #fdab01;
    border-color: #fdab01;
}
.login .btn.btn-primary:focus {
    color: #000;
    background-color: #fdab01;
    border-color: #fdab01;
}